fastapi
uvicorn
celery
redis
flower
sqlalchemy
aiosqlite
asyncpg==0.29.0
psycopg2-binary==2.9.9
# Observability
opentelemetry-distro==0.45b0
opentelemetry-exporter-otlp==1.24.0
opentelemetry-instrumentation-fastapi==0.45b0
opentelemetry-instrumentation-celery==0.45b0
opentelemetry-instrumentation-sqlalchemy==0.45b0
opentelemetry-instrumentation-redis==0.45b0
pydantic
pydantic-settings
requests
tenacity
pybreaker
